@import url(https://fonts.googleapis.com/css?family=Karla);

body {
  font-family: "Karla", sans-serif;
   text-align: center;
   font-size: 50px;
   padding-top: 100px;
  background-color: #202020;
  color: #f9f9f9;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.cursor {
    animation: blink 0.7s infinite;
}
body, html {
    height: 100%;
    text-align: center;
}

body {
  background-color: #242F3F;
}
// Variables
$bar-color: #fff;
$ball-color: #fff;
$bg-color: #EA4961;

html {
  height: 100%;
}